/*BASE*/
:root{font-size: 16px;}
body{
    max-width: 100vw;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,
p,li{font-family: 'Montserrat', sans-serif;}

h1{font-size: 3.5em;}
h2{font-size: 3.5em;}
h3{font-size: 3em;}
h4{font-size: 2.5em;}
h5{font-size: 2em;}
h6{font-size: 1.5em;}
p{
    font-size: 1.1em;
    line-height: 2.235;
}
li{font-size: 1.1em;}
.slick-dots li button:before{
    font-size: 40px;
    line-height: 40px;
}
@media only screen and (max-width:468px){
    p{
        text-align: justify;
        text-align-last: left;
    }
}

/*HOME*/
.home h2{
    margin: 25vh auto 8vh;
    font-weight: 300;
}
.home .banner,
.home .lista-de-planos{
    padding: 0;
}
.home .lista-de-planos li img{
    display: block; 
    margin: auto;
}
.home .banner img{
    width: 100vw;
}
.home .lista-de-planos{
    text-align: center;
    margin: 45px auto;
}
.home .lista-de-planos li{
    display: inline-block;
    margin: 0 -50px;
    max-width: 19%;
    transform: perspective(400px) rotateY(45deg);
    transition: transform ease .3s, margin ease .3s;
}
.home .lista-de-planos li:hover{
    transform: perspective(400px) rotateY(0) scale(1.3);
    margin: 0 75px 0 50px;
}
.home .lista-de-planos li img{
    display: block;
    max-width: 100%;
}
.home .lista-de-produtos li{
    list-style: none;
    padding: 25px;
}
.home .lista-de-produtos figure img{
    max-width: 100%;
    border: 2px solid #ddd;   
    transition: border-color ease .3s;
}
.home .lista-de-produtos figure img:hover{
    border-color: #999;
}
.home figure figcaption{
    margin-top: 25px;
}

.home .price{
    float: right;
    display: inline-block;
    margin-top: -8px;
}
.home .price span{
    font-size: 1.4em;
    
}